body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt arial;


}

header{
    color: white;
    text-align: center;

}
#btn{
    border-radius: 10px;
    box-shadow:1px 2px black;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;

}
#tabuada{
    
    color: rgb(29, 23, 14);
    border-radius: 5px 5px 5px 5px black;
    box-shadow: 3px 3px 4px black;
}
footer{
color: white;
text-align: center;
font-style: italic;
}